<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.salim.bitaqwa">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitaqwaApp"
        tools:targetApi="31">
        <activity
            android:name=".menus.videokajian.DetailVideoKajianActivity"
            android:exported="false" />
        <activity
            android:name=".menus.doa.ListDoaActivity"
            android:exported="false" />
        <activity
            android:name=".menus.doa.DetailDoaActivity"
            android:exported="false" />
        <activity
            android:name=".menus.doa.MenuDoaActivity"
            android:exported="false" />
        <activity
            android:name=".menus.videokajian.MenuVideoKajianActivity"
            android:exported="false" />
        <activity
            android:name=".menus.jadwalsholat.MenuJadwalSholatActivity"
            android:exported="false" />
        <activity
            android:name=".menus.dzikir.MenuDzikirActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>